
.chat-document-container {
  display: flex;
  width:100%;
  height: 85vh;
  
}
.chat-container {
  flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    /* border: 2px solid #82c4ed;  Border color  */
     border-radius: 10px; 
    overflow: hidden;
    background-color: #e3edf3;
    width: auto; /* Updated Background color to blue */
    min-width: 20%;
    border: 3px solid  rgb(222, 212, 212);
  }
  
  .message-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%; 
  
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
 
  .message.user .text {
   margin-left: 1%;
   background-color: #c9dde5;
   color: #534b4b;
   /* overflow-y: auto;
   max-width: 1000px;  */
  }

  .icon {
    margin-right: 10px;
    
    
  }
  
  .text {
    background-color: #ffffff; /* Message background color (white) */
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #47687f; /* Text color (blue) */;
    white-space: pre-wrap;
  }
  
  .input-container {
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #fff; /* Input container background color (white) */
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
  }  
  .input-container textarea:focus {
    outline: none; /* Remove the default focus outline */
    /* border: 1px solid transparent; Set border to transparent when focused */
    bottom: 20px;
  }
  
  .input-button {
    padding: 10px;
    /* background-color: #82c4ed; */
    color: #fff;
    /* border: 2px solid #82c4ed; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Adjust margin as needed */
    position: absolute;
    bottom: -10px;
    right: 10px;
    border: none;
    background: none;
    color: black;
    
  }
  


  .message-container::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .thumbs-up.green-animation{
    color: green;
  }
  .thumbs-down.red-animation{
    color: red;
  }

  .thumbs-up,
  .thumbs-down {
    transition: color 0.3s ease;
    font-size: 20px;
    padding-top: 2%;
  }
  
  .thumbs-up:hover {
    color: #00cc00; /* Green color */
  }
  
  .thumbs-down:hover {
    color: #cc0000; /* Red color */
  }

  .bot-icons {
    display: flex;
    align-items: center; /* Align items vertically center */
  }
  .bot-response-counter {
    margin-left: auto; /* Push the counter to the right */
    padding-top: 2%;

  }
  
  /* Add styles for the message display */
/* .message-display {
  position: absolute;
  top: calc(100% + 5px); 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none; 
  z-index: 999; 
} */

/* Show message display when hovering over thumbs-up icon */
/* .thumbs-up:hover + .message-display,
.message-display:hover {
  display: block; 
} */

/* Show message display when hovering over thumbs-down icon */
/* .thumbs-down:hover + .message-display,
.message-display:hover {
  display: inline;
} */

.typing-indicator {
  animation: spin 1s infinite linear; /* Apply the spin animation infinitely */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Starting angle */
  }
  to {
    transform: rotate(360deg); /* Ending angle */
  }
}

.source-documents{
  padding-top: 14px;

}
ol a {
  text-decoration: none;
}
.document-container {
  width: 3000px;
  height: calc(100vh - 90px);
  border: 3px solid transparent;
  border-radius: 10px;
  overflow: auto;
  text-align: left;
  position: relative;
  padding: 10px;

}
.clear-document-button {
  position: fixed;
  top: 90px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
}

/* Styles when document container has content */
.document-container.has-content {
  border-color: rgb(222, 212, 212);
  min-width: 377px;
  max-width: 377px;
}

/* Styles when document container has no content */
.document-container.no-content {
  width: 0;
  height: 0;
  border: none;
}
.document-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
/* .p{
 white-space: wrap; 
 overflow: hidden;
 text-overflow: ellipsis;
} */
textarea {
  flex-grow: 1;
  padding: 10px;
  border: none;
  /* border: 2px solid  #82c4ed; */
  /* border-radius: 5px; */
  margin-right: 10px;
  resize: none; /* Disable resizing of textarea */
}
.textarea-autoresize {
  flex-grow: 1;
  padding: 10px;
  border: none;
  resize: none; /* Disable resizing of textarea */
  max-height: calc(1.5em * 8);
  margin-bottom: 20px;
}

.character-limit {
  position: absolute;
  bottom: 0px;
  right: 50px;
  color: #666;
}

/* Define CSS animations */
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply animation classes */
/* .green-animation {
  animation: scaleIn 0.5s ease-in-out;
} */
.green-animation {
  animation: rotateIn 0.5s ease-in-out;
}
/* .red-animation {
  animation: scaleIn 0.5s ease-in-out;
} */

.red-animation {
  animation: rotateIn 0.5s ease-in-out;
}
.pdf-viewer{
  height: 475px;
  width: 100%;
  background: transparent;
  
}
.document{
  width: 351px;
}
.code-snippet{
  background-color: black;
  color: white;
  padding-bottom: 4%;
  padding-left: 4%;
  border-radius: 2%;

}


