body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.header {
  background-color: #fff; /* White background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  padding: 8.1px  20px; /* Increased padding for a more spacious feel */
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  margin: 0;
}

.nav-link:hover {
  background-color: #edf6fd;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition effect for background color only */
}




@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }
}
.user-info {
  display: flex;
  align-items: center;
}

.user-email {
  margin-right: 10px;
}

.logo-image {
  max-width: 100px; /* Set the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
}

@media (max-width: 768px) {
  .logo-image {
    max-width: 80px; /* Adjust the maximum width for smaller screens */
  }
}


