.side-component {
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  .sidebar-header h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .menu {
    flex-grow: 1;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    /* margin-left: 0px;  */
  }
  
  .menu li {
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s;
  }
  
  .menu_child li:hover {
    background-color: #f4f4f4;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
  }

  


 
  
  /* Styling for history icon */
  .history-icon {
    margin-right: 10px;
  }
  
 
  
  .conversation-history::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .conversation-history {
  overflow-y: auto; /* Add this line */
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 2px;
  border: 1px solid rgb(215, 207, 207);
  border-radius: 10px;
  margin-bottom: -10px;
  text-align: left;
  width: 170px;
  }
  .conversation-history:hover{
    background-color: #b3c8e8;
  }
  
  /* .conversation-history li {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 2px ;
    border: 1px solid  rgb(215, 207, 207);
    border-radius: 10px;
    margin-bottom: -10px;
    text-align: left;
  } */
  
  /* .conversation-history li:hover {
    background-color: #b3c8e8;
  } */
  
  /* .conversation-history li button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-align: left;
  } */
  
  /* .conversation-history li button:focus {
    outline: none;
  } */
  
/* 
  
  
  .conversation-id-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px; 
    transition: background-color 0.3s, color 0.3s;
  }
   */
  /* .conversation-id-button:hover {
   
    color: #555;
  } */
  .sidebar-footer {
    display: flex; /* Make the footer items display in a row */
    margin-left: 27px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: left;
    font-size: large;
    
  }
  .sidebar-footer p{
    cursor: pointer;
    
    
  }
  
  .signout-option {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold; /* Make the sign-out option bold */
    margin-left: 10px; /* Add margin between username and sign-out option */
  }
  
  .footer {
    display: flex;
  }
  .history-container{
  overflow-y: auto; /* Add scrollbar */
  max-height: 330px; /* Set a fixed height */
  }
 
  .list-conversation {
    width: 240px;
    position: relative; /* Ensure the list item is a positioned parent */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .delete-icon {
    position: absolute;
    right: -20px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: large;
  }
  .export-icon {
    position: absolute;
    right: 5px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: large;
  }
  
 
  /* .conversation-history li {
    position: relative;
  } */
  .pagination{
    margin-left: 25px;
  }

  .pagination button {

    border: 1px solid  rgb(215, 207, 207);
    border-radius: 10px;
    padding: 8px 8px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button-container {
    margin-top: 12px;
    position: relative;
  }
  